#Minecraft Server Manager Config

#Set display name.
NETWORKNAME="HeliosGaming"
#Create tempfile.
TEMPFILE=`tempfile 2>/dev/null` || TEMPFILE=/tmp/test$$
#Mc Account
MCUSER="minecraft"
#Mc Install Directory
MCINSTALL="/opt/minecraft/"

#MCM WILL STOP WORKING IF THE BELOW IS MODIFIED!
CONFIGAVAILABLE=1